
@model IEnumerable<ActiveMenu.Model.order>



<style>
    #countdown {
        position: relative;
        margin: auto;
        height: 40px;
        width: 40px;
        text-align: center;
    }

    .countdown-number {
        color: white;
        display: inline-block;
        line-height: 40px;
    }

    svg {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        transform: rotateY(-180deg) rotateZ(-90deg);
    }

        svg circle {
            stroke-dasharray: 113px;
            stroke-dashoffset: 0px;
            stroke-linecap: round;
            stroke-width: 2px;
            stroke: orange;
            fill: none;
            /*animation: countdown 10s linear infinite forwards;*/
        }

    @@keyframes countdown {
        from {
            stroke-dashoffset: 0px;
        }

        to {
            stroke-dashoffset: 113px;
        }
    }
</style>




<style>
    .statusDiv {
        padding: 10px;
        background: rgba(255,255,255,0.05);
        backdrop-filter: blur(10px);
        border-top: 1px solid rgba(255,255,255,0.2);
        border-left: 1px solid rgba(255,255,255,0.2);
        box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
        border-radius: 12px;
        margin-bottom: 15px;
    }

        .statusDiv > div {
            display: flex;
            color: white;
            direction: ltr;
            border-bottom: 1px solid #4d4d4d;
            padding: 5px 0;
            align-items: center;
        }

    .spanSec {
        margin: 10px;
        font-size: 12px;
    }

    .statusDiv a {
        text-decoration: none;
        color: white
    }
</style>
@foreach (var item in Model)
{
    string circleID = item.peigiry + "circle";


<div class="statusDiv">

    <div class="" style="">


        <span style="width:50%;text-align:left" class="spanSec">Order Number: </span>
        <span style="flex:1; text-align:center" class="spanSec">@item.orderNumber</span>




    </div>
    <div>
        <span style="width:50%;text-align:left" class="spanSec">Prepration Time: </span>

        <div id="countdown">

            <div id="@item.peigiry" class="countdown-number"></div>
            <svg>
                <circle id="@circleID" r="18" cx="20" cy="20"></circle>
            </svg>
        </div>
    </div>

    <div class="" style="">
        <span style="width:50%;text-align:left" class="spanSec">Order Price: </span>
        <span style="flex:1; text-align:center" class="spanSec">@string.Format("{0:n0}", @item.price) &nbsp; AED  </span>
    </div>
    @if (item.status == 1)
    {
        <div class="" style="">


            <span style="width:50%;text-align:left" class="spanSec">Payment Status: </span>
            <span style="flex:1; text-align:center" class="spanSec">Payed</span>




        </div>
    }
<div style="">
    <div id="addOrder" style="width:100%; display:flex; justify-content:center;margin:15px;">
        <div style="width:100%; padding:15px 0px;color:white; background-color:#3aafd6;text-align:center; border-radius:13px;;font-size:12px">
            <a href="/Home/orderDetail?orderNumber=@item.orderID">
                View Detail
            </a>

        </div>
    </div>
    @if (item.status != 1)
    {
        if (ViewBag.pardakht == "1" || !String.IsNullOrEmpty(ViewBag.istrue))
        {
            <div id="addOrder" style="width:100%; display:flex; justify-content:center;margin:15px;">

                <div style="        width: 100%;
        padding: 15px 0px;
        color: white;
        background-color: orange;
        text-align: center;
        border-radius: 13px;
        font-size: 12px">
                    <a href="/Home/ReqestForPaymentZarin?orderID=@item.orderID">
                        Payment
                    </a>
                </div>
            </div>
        }

    }


</div>

</div>


    <script>

        var finalMin = parseInt(@item.minutToAdd) - parseInt(@item.minutPassed)
        var final = finalMin * 60;

        if (final > 0) {
            document.getElementById('@item.peigiry').textContent = finalMin

            setInterval(function () {

                document.getElementById('@item.peigiry').textContent = parseInt(document.getElementById('@item.peigiry').textContent) - 1;

                @*var number = parseInt(document.getElementById('@item.peigiry').textContent);
                number = --number <= 0 ? @item.minutToAdd : 0;
                document.getElementById('@item.peigiry').textContent = number;*@

            }, 60000);
            var circleID = '@item.peigiry' + "circle";
            var value = 'countdown ' + final + 's linear infinite forwards';

            document.getElementById(circleID).style.animation = value;
        }
        else {
             document.getElementById('@item.peigiry').textContent =  "0"
        }


    </script>
}

