@model ActiveMenu.ViewModel.EndOrderVM

@{
    ViewBag.Title = "basket";
    ViewBag.ItemTitle = "Basket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





    <div style="position:absolute; width:100%; overflow:auto;display:flex; top:50px">
        <div style="position:relative; padding:10px; width:50% " class="itemparent">
            <div style="text-align:center;display: flex;justify-content: center;margin-bottom: 25px;">
                <div style="height:2px; background-color:#3aafd6; width:30%"></div>
            </div>

            @foreach (var item in Model.lst)
            {
                @Html.Partial("~/Views/Shared/ItemSection.cshtml", item);
            }
        </div>



        <style>

            .reportParent {
                width: 100%;
                display: flex;
                direction: ltr;
                padding: 5px 15px;
                border-bottom: 1px solid #343333;
            }

                .reportParent span {
                    color: white;
                    font-size: 14px;
                }

            .flex1 {
                flex: 1
            }
        </style>
        @{ 
            double vatprice = ((@Model.vat * @Model.finalPrice)/100);
            string srt = "";
        }
        <div style="  width: 100%;  position: fixed;   padding:10px; width: 50%; right: -1px;" class="">

            <div class="reportParent">
                <span>Total Amount</span>
                <span class="flex1"></span>
                <p> <span id="orderTotal" style="margin-right:10px"> @String.Format("{0:n0}", @Model.orderPrice)</span><span>AED</span></p>
            </div>
            <div class="reportParent">
                <span>Discount Amount</span>
                <span class="flex1"></span>
                <p> <span id="discount" style="margin-right:10px">@Model.discount</span><span>AED</span></p>
            </div>
            <div class="reportParent">
                <span>Vat </span>
                <span class="flex1"></span>
                <p> <span id="Vat" style="margin-right:10px">@vatprice</span><span>AED</span></p>
            </div>
            <div class="reportParent">
                <span>Total Payment</span>
                <span class="flex1"></span>
                <p>
                    <span id="total" style="        margin-right: 10px;
        font-size: 20px;
        font-weight: 600;
        color: orange"> @String.Format("{0:n0}", @vatprice + @Model.finalPrice) </span><span>AED</span>
        </p>

        </div>


        <div id="addOrder" style="display:flex; justify-content:center;margin:15px;">
            <div style="cursor:pointer; width:50%; padding:20px;color:white; background-color:#3aafd6;text-align:center; border-radius:13px">Register Order</div>
        </div>
        </div>
    </div>


@section scripts{

     @if(ViewBag.error == "1")
     {
         <script>
             toastr.options = {
                 "debug": false,
                 "positionClass": "toast-top-full-width",
                 "onclick": null,
                 "fadeIn": 300,
                 "fadeOut": 1000,
                 "timeOut": 10000,
                 "extendedTimeOut": 10000,
             }
             toastr.error('choos table first');
         </script>
     }
    <script>
        $("#addOrder").click(function () {
            window.location.href = "/Home/setOrder"
        })
    </script>
    <script>
        $(".backToList").click(function () {
            history.back();
        })
    </script>
    <script>
        var getquntity = function () {
            $.ajax({
                url: '/Home/getquntitiy',
                dataType: 'html',
                success: function (data) {
                    var total = 0;
                    var srtcookie = data;

                    if (srtcookie.length > 0) {
                        srtcookie = srtcookie.replace(/&quot;/g, '"');
                        JSON.parse(srtcookie).forEach(function (item) {
                            let valueID = "value" + item.productid;

                            $("." + valueID).text(item.quantity);
                            total += parseInt(item.quantity);
                        });
                        $(".simpleCart_quantityy").text(total)

                    } else {
                        $(".simpleCart_quantityy").text("0")
                    };
                }

            })
        };

        $(document).ready(function () {
            getquntity();
        })






    </script>
    <script>
        $(".fa-plus").click(function (e) {
            e.stopPropagation();
            $("#loading").fadeIn()
            var id = $(this).attr('id');
            $.ajax({
                url: "/Home/addtocart",
                data: {
                    id: id,
                },
                success: function (data) {


                    window.location.reload();
                    $("#loading").fadeOut()
                }
            })
        })

        $('.fa-minus').on('click', function (e) {
            e.stopPropagation();
            event.stopPropagation();

            var ID = $(this).attr('id');
            let myid = "value" + ID.replace('minus', '');

            let newVal = $(this).parent().children(".value").text();
            if (newVal != "0") {
                $("#loading").fadeIn()
                $.ajax({
                    url: '/Home/minusfromcart',
                    dataType: 'html',
                    data: {
                        id: ID
                    },
                    success: function (data) {
                        window.location.reload();
                        $("#loading").fadeOut()

                    },
                    error: function () {
                        alert("error")
                    }


                });
            }








        });
    </script>

    <script>
        window.addEventListener("pageshow", function (event) {
            var historyTraversal = event.persisted ||
                (typeof window.performance != "undefined" &&
                    window.performance.navigation.type === 2);
            if (historyTraversal) {
                // Handle page restore.
                window.location.href = "/home/index";
            }
        });
    </script>
}