@model ActiveMenu.ViewModel.detailVM

<html lang="en">
<head>

    <meta charset="UTF-8">

    <title>Menumotive | application</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.2/css/swiper.min.css">
    <link href="~/Content/fontawesome-all.css" rel="stylesheet" />
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.2/css/swiper.min.css">

    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background: #fff;
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 14px;
            color: #000;
            background-color: #333;
            margin: 0;
            padding: 0;
        }

        .swiper-container {
            width: 100%;
            /*padding-top: 50px;
            padding-bottom: 50px;*/
        }

        .swiper-slide {
            background-position: center;
            background-size: cover;
            width: 350px;
            /*background-color: #fff;*/
            overflow: hidden;
            border-radius: 8px;
        }

        .picture {
            width: 100%;
            overflow: hidden;
            display: flex;
            justify-content: center;
        }

            .picture img {
                display: block;
                max-width: 100%;
                max-width: 100%;
                -o-object-fit: cover;
                object-fit: scale-down;
            }

        .detail {
            padding: 25px 20px;
            font-weight: 600;
            text-align: center;
        }

            .detail h3 {
                margin: 0;
                font-size: 20px;
                color: white;
                margin:10px;
            }

            .detail span {
                display: block;
                font-size: 16px;
                margin: 10px 0;
                color: white;
            }
    </style>

    <script>
        window.console = window.console || function (t) { };
    </script>



    <script>
        if (document.location.search.match(/type=embed/gi)) {
            window.parent.postMessage("resize", "*");
        }
    </script>
    <style>
        .parentBlur {
            /* The image used */
            /* Add the blur effect */
            /*filter: blur(8px);
            -webkit-filter: blur(4px);*/
            /* Full height */
            height: 100%;
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover !important;
            position: fixed;
            width: 100%;
            bottom: 0;
            opacity: 0.8;
        }
        .countButton {
            float: left;
           
            margin:5px;
            color: white;
            border-radius: 15px;
            background-color: #343333;
            padding: 20px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 0;
            align-items: center;
            background: rgba(255,255,255,0.05);
            backdrop-filter: blur(10px);
            border-top: 1px solid rgba(255,255,255,0.2);
            border-left: 1px solid rgba(255,255,255,0.2);
            box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
        }
        .iconholder {
            height: 50px;
            position: fixed;
            color: white;
           
            top: 48px;
            font-size: 20px;
            color: white;
            z-index: 999;
            display: flex;
            align-items: center;
        }
        .leftP{
            left:48px;
        }
        .rightP{
            right:48px;
        }
    </style>
    <link href="~/Content/fontawesome-all.css" rel="stylesheet" />
</head>

<body translate="no" data-new-gr-c-s-check-loaded="14.1095.0" data-gr-ext-installed="">
   
    <div class="iconholder leftP">
        <div class="row countButton " style="left: 50px;">
            <span class="" onclick="openNav()"> <i style="color:white" class="fa fa-long-arrow-left"></i></span>
        </div>
        <div class="row countButton " style="left: 50px;">
            <span class="" onclick="openNav()"><a href="/home/search"><i style="color:white" class="fa fa-search"></i></a></span>
        </div>
       
    </div>
    <div  class="iconholder rightP">
        <div class="row countButton " style="left: 50px;">
            <span class="" onclick="openNav()"> <a href="/home/index"><i style="color:white" class="fa fa-home"></i></a></span>
        </div>
    </div>


    @*<div class="row countButton" style="height:50px;position:fixed;color:white;left:60px;top: 60px;font-size: 22px;color: white;z-index:999">
        <p><a href="javascript:void(0)"></a></p>
    </div>
    <div class="row countButton" style="height:50px;position:fixed;color:white;left:120px;top: 60px;font-size: 22px;color: white;z-index:999">
        <p><a href="/home/basket"><i style="color:white" class="fa fa-shopping-cart"></i></a></p>
    </div>
    <div class="row countButton" style="height:50px;position:fixed;color:white;left:190px;top: 60px;font-size: 22px;color: white;z-index:999">
        <p></p>
    </div>
    <div class="row countButton" style="height:50px;position:fixed;color:white;right:50px;top: 60px;font-size: 22px;color: white;z-index:999">
        <p></p>
    </div>*@


    <div style="background: url('../../images/app/back.jpg')" class="parentBlur">

    </div>
    <!-- Slider main container -->
    <div class="swiper-container swiper-container-coverflow swiper-container-3d swiper-container-horizontal" style="cursor: grab; height:60vh">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(235.5px, 0px, 0px); perspective-origin: 160px 50%;">
            <!-- Slides -->


            @if (Model.itemList.Count() > 0)
            {
                var item = Model.itemList[0];


                string imageItem = item.imageList.TrimEnd(',').Split(',').ToList().First();
                string url = "/images/Items/" + @ViewBag.username + "/" + @imageItem;
                string calssname = "swiper-slide swiper-slide-active";



                <div idtogo="@item.itemID" class="@calssname" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg); z-index: 1;">
                    <div class="picture">
                        <img src="@url" alt="">
                    </div>
                    <div class="detail">
                        <h3> @item.title</h3>
                        @*<span> @item.desctiption</span>*@
                        <h3> @item.price AED</h3>
                    </div>
                </div>
            }

            @if (Model.itemList.Count() > 1)
            {
                var item = Model.itemList[1];


                string imageItem = item.imageList.TrimEnd(',').Split(',').ToList().First();
                string url = "/images/Items/" + @ViewBag.username + "/" + @imageItem;
                string calssname = "swiper-slide swiper-slide-next";



                <div idtogo="@item.itemID" class="@calssname" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg); z-index: 1;">
                    <div class="picture">
                        <img src="@url" alt="">
                    </div>
                    <div class="detail">
                        <h3> @item.title</h3>
                        @*<span> @item.desctiption</span>*@
                        <h3> @item.price AED</h3>
                    </div>
                </div>
            }
            @if (Model.itemList.Count() > 2)
            {
                for (int i = 2; i <= Model.itemList.Count() - 1; i++)
                {
                    var item = Model.itemList[i];


                    string imageItem = item.imageList.TrimEnd(',').Split(',').ToList().First();
                    string url = "/images/Items/" + @ViewBag.username + "/" + @imageItem;
                    string calssname = "swiper-slide";



                    <div idtogo="@item.itemID" class="@calssname" style="        transition-duration: 0ms;
        transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg);
        z-index: 1;">
                        <div class="picture">
                            <img src="@url" alt="">
                        </div>
                        <div class="detail">
                            <h3> @item.title</h3>
                            @*<span> @item.desctiption</span>*@
                            <h3> @item.price AED</h3>
                        </div>
                    </div>
                }

            }


            @*

                switch (index)
                {
                case 0:
                calssname = "";
                break;
                case 1:
                calssname = "";
                break;
                default:
                calssname = "swiper-slide";
                break;


                }




            *@


        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span></div>

        <!-- If we need navigation buttons -->
        <!--     <div class="swiper-button-prev"></div> -->
        <!--     <div class="swiper-button-next"></div> -->
        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
    </div>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-2c7831bb44f98c1391d6a4ffda0e1fd302503391ca806e7fcc7b9b87197aec26.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.2/js/swiper.min.js"></script>
    <script id="rendered-js">
        var swiper = new Swiper(".swiper-container", {
            effect: "coverflow",
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: "auto",
            coverflowEffect: {
                rotate: 20,
                stretch: 0,
                depth: 350,
                modifier: 1,
                slideShadows: true
            },

            pagination: {
                el: ".swiper-pagination"
            }
        });
        //# sourceURL=pen.js
    </script>


    <style>
        /* style the elements with CSS */
        #pleaserotate-graphic {
            fill: #fff;
        }

        #pleaserotate-backdrop {
            color: #fff;
            background-color: #000;
        }

        .swiper-pagination-bullets {
            display: none;
        }

        .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-left {
            background-image: unset !important
        }

        .swiper-slide {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    </style>

    <script>
        //var PleaseRotateOptions = {
        //    startOnPageLoad: true,
        //    onHide: function () { },
        //    onShow: function () { },
        //    forcePortrait: true,
        //    message: "Please Rotate Your Device",
        //    subMessage: "(or click to continue)",
        //    allowClickBypass: true,
        //    onlyMobile: true,
        //    zIndex: 1000,
        //    iconNode: null
        //};
        /* you can pass in options here */
        PleaseRotateOptions = {
            forcePortrait: false, // if you would prefer to force portrait mode,
            forceLandscape: true
        };
        // PleaseRotate.start(PleaseRotateOptions)
    </script>
    <script src="~/Scripts/pleaseRotate.js"></script>
    <script>
        $(".swiper-slide").click(function () {
            var id = $(this).attr('idtogo');
            window.location.href = "/Home/itemDetail/" + id;

        })
        $(".fa-long-arrow-left").click(function (e) {
            e.preventDefault();
            window.history.back();
        })

    </script>




</body>

</html>