@model ActiveMenu.ViewModel.indexVM
@{
    ViewBag.Title = "main menu";
    ViewBag.ItemTitle = Model.title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .searchi, .placeinput {
        padding: 4px;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-color: transparent;
        text-decoration: none;
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        border-bottom-style: hidden;
        max-width: none;
        padding-right: 25px
    }


        .searchi:focus, .placeinput:focus {
            outline: none;
        }

    .modal-backdrop {
        z-index: 1;
    }

    * {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        font-family: Arial;
    }

    .header {
        text-align: center;
        padding: 32px;
    }

    .row {
        display: -ms-flexbox; /* IE10 */
        display: flex;
        -ms-flex-wrap: wrap; /* IE10 */
        flex-wrap: wrap;
        padding: 0 4px;
    }

    /* Create four equal columns that sits next to each other */
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
        padding: 0 4px;
    }

        .column img {
            margin-top: 8px;
            vertical-align: middle;
            width: 100%;
            border-radius: 15px
        }

    /* Responsive layout - makes a two column-layout instead of four columns */
    @@media screen and (max-width: 800px) {
        .column {
            -ms-flex: 50%;
            flex: 50%;
            max-width: 50%;
        }
    }

    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
    @@media screen and (max-width: 600px) {
        .column {
            -ms-flex: 100%;
            flex: 100%;
            max-width: 50%;
        }
    }

    .blur {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.9);
    }

    .menuTitle {
        position: absolute;
        bottom: 0;
        right: 16px;
        color: white;
        font-size: 14px;
        background: rgba( 13, 12, 12, 0.25 );
        box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        padding: 3px 10px;
    }

    .searchInput {
        font-size: 16px;
        font-weight: 400;
        padding: 10px 15px 10px 10px;
        position: relative;
        border: none;
        background: rgba(255,255,255,0.05);
        backdrop-filter: blur(10px);
        border-top: 1px solid rgba(255,255,255,0.2);
        border-left: 1px solid rgba(255,255,255,0.2);
        box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
        color: rgb(255, 255, 255);
        transition: color 0.3s ease-out;
        border-radius: 15px;
        text-align: right;
        margin: 10px;
        display: flex;
        direction: rtl;
        position: relative;
        padding: 10px;
        text-align: right;
        align-items: center
    }

    .searchi {
        padding: 4px;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-color: transparent;
        text-decoration: none;
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        border-bottom-style: hidden;
        width: 100%;
        max-width: none;
        padding-right: 25px
    }

        .searchi:focus {
            outline: none;
        }
</style>

@section scripts{
    <script>
        $(".fa-bell").click(function () {
            var value = $("#searchi").val();
            //$("#commentForm").submit();
            $.ajax({
                url: "/Home/Pager",
                data: {
                    val: value
                },
                success: function (data) {
                    toastr.options = {
                        "debug": false,
                        "positionClass": "toast-top-full-width",
                        "onclick": null,
                        "fadeIn": 300,
                        "fadeOut": 1000,
                        "timeOut": 10000,
                        "extendedTimeOut": 10000,
                    }
                    toastr.success('درخواست شما ثبت شد');
                }
            })
        })
    </script>
}

@*<div style="padding:10px; position:relative">

        <img  src="~/images/app/11.png" style="width:100%; border-radius:10px" />

    </div>*@


@*<div class="searchInput" style="margin:20px 10px">
        <input id="searchi" class="searchi" placeholder="@Model.garson" />
        <i class="fal fa-bell" style="position:absolute ; left:20px"></i>

    </div>
    <div style="" class=" oof modal fade" id="addCatModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content oof" style="color:white;border-radius:8px">

                <div style="        font-size: 14px;  padding: 20px; text-align: center" class="modal-body">

                    <input id="catName" class="placeinput" style="direction:rtl" placeholder="Insert Category Name" />
                </div>
                <div class="modal-footer" style="border-color:#4d4d4d">
                    <button style="padding:7px 30px" type="button" class="btn btn-secondary oof" data-dismiss="modal" id="cancelCat">Cancel</button>
                    <button style="padding:7px 30px" type="button" class="btn btn-success" id="addCategory">Verify</button>
                </div>
            </div>
        </div>
    </div>*@
@{

    @*if (ViewBag.istrue != "")
        {
            <div id="addCatModalButton" style="position:relative; display:flex; justify-content:center;margin:15px;">
                <div class="buttonHead" style=" ">Add New Category</div>
            </div>
        }*@
}






@*<div class="row" style="margin:0; position:absolute; overflow:auto">

        <div class="column">
            @for (int i = 0; i < Model.calist.Count(); i++)
            {
                if (@Model.calist[i].culomn == "1")
                {
                    string url = "/images/Items/" + @ViewBag.username + "/" + @Model.calist[i].imageAddress;
                    string title = @Model.calist[i].title;
                    string categoryID = "" + @Model.calist[i].categoryID;
                    <div style="position:relative; padding:20px">
                        <a style="" href="/Home/Detail/@categoryID">
                            <img src="@url" style="width:100%">
                            <p class="menuTitle">
                                <spna> @title </spna>

                            </p>
                            @if (@Model.calist[i].imageAddress == "MM3.png" && ViewBag.istrue != "")
                            {
                                <p>
                                    <div id="removeCat" style="position: absolute;display:flex;justify-content:center;top: 25px;">
                                        <div id="@Model.calist[i].categoryID" style="padding:15px;color:white; background-color:#3aafd6;text-align:center; border-radius:13px">remove</div>
                                    </div>
                                </p>
                            }
                        </a>
                    </div>
                }
            }


        </div>
        <div class="column">

            @for (int i = 0; i < Model.calist.Count(); i++)
            {
                if (@Model.calist[i].culomn == "2")
                {
                    string url = "/images/Items/" + @ViewBag.username + "/" + @Model.calist[i].imageAddress;
                    string title = @Model.calist[i].title;
                    string categoryID = "" + @Model.calist[i].categoryID;
                    <div style="position:relative; padding:20px">
                        <a style="" href="/Home/Detail/@categoryID">

                            <img src="@url" style="width:100%">
                            <p class="menuTitle">
                                <spna> @title </spna>

                            </p>
                            @if (@Model.calist[i].imageAddress == "MM3.png" && ViewBag.istrue != "")
                            {
                                <p>
                                    <div  style="position: absolute;display:flex;justify-content:center;top: 25px;">
                                        <a href="/admin/DeleteCategory?id=@Model.calist[i].categoryID">
                                            <div class="" id="" style="padding:15px;color:white; background-color:#3aafd6;text-align:center; border-radius:13px">remove</div>

                                        </a>
                                    </div>
                                </p>
                            }

                        </a>

                    </div>

                }
            }
        </div>

    </div>*@


@*<script>
        $(".removeCategory").click(function () {

            var id = $(this).attr('id');


        })
        $("#addCatModalButton").click(function () {
            $("#addCatModal").modal('toggle');
        });
        $("#addCategory").click(function () {
            var catName = $("#catName").val();
            $.ajax({
                url: "/Admin/createCat",
                data: {
                    item: catName
                },
                success: function (data) {
                    window.location.reload();
                }
            })
        })
    </script>
    <style>
        * {
            padding: 0;
            margin: 0;
        }

        body {
            overflow-x: hidden;
            background: #fed5c8;
        }

        .list {
            height: 200px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

            .list li {
                list-style-type: none;
                width: 200px;
                height: 200px;
                opacity: 0.25;
                position: absolute;
                left: 50%;
                margin-left: -100px;
                border-radius: 2px;
                background: #9c89b8;
                transition: transform 1s, opacity 1s;
            }

            .list .act {
                opacity: 1;
            }

            .list .prev,
            .list .next {
                cursor: pointer;
            }

            .list .prev {
                transform: translateX(-220px) scale(0.85);
            }

            .list .next {
                transform: translateX(220px) scale(0.85);
            }

            .list .hide {
                transform: translateX(-420px) scale(0.85);
            }

            .list .new-next {
                transform: translateX(420px) scale(0.85);
            }

            .list .hide,
            .list .new-next {
                opacity: 0;
                transition: opacity 0.5s, transform 0.5s;
            }

        .swipe {
            width: 270px;
            height: 200px;
            position: absolute;
            background-color: green;
            border-radius: 2px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
        }
    </style>*@



<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
            <div class="picture">
                <img src="https://images.unsplash.com/photo-1464863979621-258859e62245?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6b4e41a670c097c8fd2834579f5d5958&auto=format&fit=crop&w=633&q=80" alt="">
            </div>
            <div class="detail">
                <h3>Marie Edwards</h3>
                <span>Web Designer</span>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="picture">
                <img src="https://images.unsplash.com/photo-1511485977113-f34c92461ad9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=49899e285952107fdfd9415b8d3bf74a&auto=format&fit=crop&w=634&q=80" alt="">
            </div>
            <div class="detail">
                <h3>Kelly Woods</h3>
                <span>Web Designer</span>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="picture">
                <img src="https://images.unsplash.com/photo-1502980426475-b83966705988?ixlib=rb-0.3.5&s=739aef35459daa8aaeaa55363d492bc1&auto=format&fit=crop&w=673&q=80" alt="">
            </div>
            <div class="detail">
                <h3>Roger Rice</h3>
                <span>Web Designer</span>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="picture">
                <img src="https://images.unsplash.com/photo-1502768040783-423da5fd5fa0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0c6416353c255d2746a68c8a83943bdf&auto=format&fit=crop&w=634&q=80" alt="">
            </div>
            <div class="detail">
                <h3>Jessica Garcia</h3>
                <span>Web Designer</span>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="picture">
                <img src="https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9a138cf8acd85036bd292d7f10074e79&auto=format&fit=crop&w=634&q=80" alt="">
            </div>
            <div class="detail">
                <h3>Sean Adams</h3>
                <span>Web Designer</span>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="picture">
                <img src="https://images.unsplash.com/photo-1500080209535-717dd4ebaa6b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ddee81e2e574e8190b07139ddb0f1938&auto=format&fit=crop&w=687&q=80" alt="">
            </div>
            <div class="detail">
                <h3>Crystal Davidson</h3>
                <span>Web Designer</span>
            </div>
        </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <!--     <div class="swiper-button-prev"></div> -->
    <!--     <div class="swiper-button-next"></div> -->
    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
</div>
<script>
    var swiper = new Swiper(".swiper-container", {
        effect: "coverflow",
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: "auto",
        coverflowEffect: {
            rotate: 20,
            stretch: 0,
            depth: 350,
            modifier: 1,
            slideShadows: true
        },
        pagination: {
            el: ".swiper-pagination"
        }
    });
</script>
<style>
   
    .swiper-container {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 320px;
        background-color: #fff;
        overflow: hidden;
        border-radius: 8px;
    }

    .picture {
        width: 320px;
        height: 320px;
        overflow: hidden;
        img

    {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    }

    .detail {
        padding: 25px 20px;
        font-weight: 600;
        text-align: center;
        h3

    {
        margin: 0;
        font-size: 20px;
    }

    span {
        display: block;
        font-size: 16px;
        color: #f44336;
    }
    
</style>