@model ActiveMenu.ViewModel.indexVM
@{
    ViewBag.Title = "Home Page";
    ViewBag.ItemTitle = Model.title;
}
<style>
    * {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        font-family: Arial;
    }

    .header {
        text-align: center;
        padding: 32px;
    }

    .row {
        display: -ms-flexbox; /* IE10 */
        display: flex;
        -ms-flex-wrap: wrap; /* IE10 */
        flex-wrap: wrap;
        padding: 0 4px;
    }

    /* Create four equal columns that sits next to each other */
    .column {
        -ms-flex: 25%; /* IE10 */
        flex: 25%;
        max-width: 25%;
        padding: 0 4px;
    }

        .column img {
            margin-top: 8px;
            vertical-align: middle;
            width: 100%;
            border-radius: 15px
        }

    /* Responsive layout - makes a two column-layout instead of four columns */
    @@media screen and (max-width: 800px) {
        .column {
            -ms-flex: 50%;
            flex: 50%;
            max-width: 50%;
        }
    }

    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
    @@media screen and (max-width: 600px) {
        .column {
            -ms-flex: 100%;
            flex: 100%;
            max-width: 50%;
        }
    }

    .blur {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.9);
    }

    .menuTitle {
        position: absolute;
        bottom: 0;
        right: 16px;
        color: white;
        font-size: 14px;
        background: rgba( 13, 12, 12, 0.25 );
        box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        padding: 3px 10px;
    }
    .searchInput {
        font-size: 16px;
        font-weight: 400;
        padding: 10px 15px 10px 10px;
        position: relative;
        border: none;
        background: rgba(255,255,255,0.05);
        backdrop-filter: blur(10px);
        border-top: 1px solid rgba(255,255,255,0.2);
        border-left: 1px solid rgba(255,255,255,0.2);
        box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
        color: rgb(255, 255, 255);
        transition: color 0.3s ease-out;
        border-radius: 15px;
        text-align: right;
        margin: 10px;
        display: flex;
        direction: rtl;
        position: relative;
        padding: 10px;
        text-align: right;
       align-items:center
    }
    .searchi {
        padding: 4px;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-color: transparent;
        text-decoration: none;
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        border-bottom-style: hidden;
        width: 100%;
        max-width: none;
        padding-right:25px
    }
        .searchi:focus {
            outline: none;
           
        }
</style>




@*<div style="padding:10px; position:relative">

        <img  src="~/images/app/11.png" style="width:100%; border-radius:10px" />

    </div>*@


<div class="searchInput" style="margin:20px 10px">
    <i class="fal fa-search" style="position:absolute" ></i>
    <input class="searchi" placeholder="هرچی دلت میکشه بزن" />
</div>
<div class="row" style="margin:0">

    <div class="column">
        @for (int i = 0; i < Model.calist.Count(); i++)
        {
            if (@Model.calist[i].culomn == "1")
            {
                string url = @Model.calist[i].imageAddress;
                string title = @Model.calist[i].title;
                string categoryID = "" + @Model.calist[i].categoryID;
                <div style="position:relative">
                    <a style="" href="/Home/Detail/@categoryID">
                        <img src="@url" style="width:100%">
                        <p class="menuTitle">
                            <spna> @title </spna>
                           
                        </p>
                    </a>
                </div>


            }
        }


    </div>
    <div class="column">

        @for (int i = 0; i < Model.calist.Count(); i++)
        {
            if (@Model.calist[i].culomn == "2")
            {
                string url = @Model.calist[i].imageAddress;
                string title = @Model.calist[i].title;
                string categoryID = "" + @Model.calist[i].categoryID;
                <div style="position:relative">
                    <a style="" href="/Home/Detail/@categoryID">

                        <img src="@url" style="width:100%">
                        <p class="menuTitle">
                            <spna> @title </spna>
                          
                        </p>
                    </a>

                </div>

            }
        }
    </div>

</div>