@model ActiveMenu.ViewModel.indexVM

<html lang="en">
<head>

    <meta charset="UTF-8">



    <title>Menumotive | application</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.2/css/swiper.min.css">
    <link href="~/Content/fontawesome-all.css" rel="stylesheet" />
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background: #fff;
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 14px;
            color: #000;
            background-color: #212121;
            margin: 0;
            padding: 0;
        }

        .swiper-container {
            width: 100%;
            /*padding-top: 50px;
            padding-bottom: 50px;*/
        }

        .swiper-slide {
            background-position: center;
            background-size: cover;
            width: 350px;
            /*background-color: #fff;*/
            overflow: hidden;
            border-radius: 8px;
        }

        .picture {
            width: 100%;
            
            overflow: hidden;
        }

            .picture img {
                display: block;
                max-width: 100%;
                max-width: 100%;
                -o-object-fit: cover;
                object-fit: cover;
            }

        .detail {
            padding: 25px 20px;
            font-weight: 600;
            text-align: center;
        }

            .detail h3 {
                margin: 0;
                font-size: 20px;
                color: white
            }

            .detail span {
                display: block;
                font-size: 16px;
                margin: 10px 0;
                color: white;
            }

        .swiper-slide {
            height: 100% !important
        }
    </style>

    <script>
        window.console = window.console || function (t) { };
    </script>



    <script>
        if (document.location.search.match(/type=embed/gi)) {
            window.parent.postMessage("resize", "*");
        }
    </script>

    <style>
        .parentBlur {
            /* The image used */
            /* Add the blur effect */
            /*filter: blur(8px);
            -webkit-filter: blur(4px);*/
            /* Full height */
            height: 100%;
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover !important;
            position: fixed;
            width: 100%;
            bottom: 0;
            opacity: 0.3;
        }

        .messageDiv {
            position: fixed;
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            padding: 40px;
            background: rgba(0,0,0,0.8);
            width: 100%;
            height: 100%;
            z-index: 99999;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            visibility: hidden
        }

            .messageDiv p {
                color: white;
                font-size: 18px;
                text-align: center;
            }
    </style>
</head>

<body translate="no" data-new-gr-c-s-check-loaded="14.1095.0" data-gr-ext-installed="" style="">
    <div class="messageDiv">
        <p>no service at the time</p>
        <p>@ViewBag.time</p>
    </div>



    <div style="background: url('../../images/app/back.jpg')" class="parentBlur">

    </div>
    <style>
        .menuOpen {
            position: absolute;
            left: 50px;
            top: 50px;
            color: white;
            z-index: 999;
        }

        .sidenav {
            height: 100%; /* 100% Full-height */
            width: 0; /* 0 width - change this with JavaScript */
            position: fixed; /* Stay in place */
            z-index: 1; /* Stay on top */
            top: 0; /* Stay at the top */
            left: 0;
            background-color: #111; /* Black*/
            overflow-x: hidden; /* Disable horizontal scroll */
            padding-top: 6px; /* Place content 60px from the top */
            transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
        }

            /* The navigation menu links */
            .sidenav a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 25px;
                color: #818181;
                display: block;
                transition: 0.3s;
            }

                /* When you mouse over the navigation links, change their color */
                .sidenav a:hover {
                    color: #f1f1f1;
                }

            /* Position and style the close button (top right corner) */
            .sidenav .closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 36px;
                margin-left: 50px;
            }

        /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
        #main {
            transition: margin-left .5s;
        }

        /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
        @@media screen and (max-height: 450px) {
            .sidenav {
                padding-top: 15px;
            }

                .sidenav a {
                    font-size: 18px;
                }
        }
    </style>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div style="padding:25px">
            @Html.Action("getBasket", "Home")
        </div>

    </div>
    <span class="menuOpen" onclick="openNav()"> <i style="font-size:20px" class="fa fa-shopping-cart"></i></span>
    <!-- Slider main container -->
    <div id="main" class="swiper-container swiper-container-coverflow swiper-container-3d swiper-container-horizontal" style="cursor: grab;height:80vh">

        <!-- Additional required wrapper -->
        <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(235.5px, 0px, 0px); perspective-origin: 160px 50%;">
            <!-- Slides -->


            @if (Model.calist.Count() > 0)
            {
                var item = Model.calist[0];


                string url = "/images/Items/" + @ViewBag.username + "/" + @Model.calist[0].imageAddress;
                string calssname = "swiper-slide swiper-slide-active";



                <div idtogo="@item.categoryID" class="@calssname" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg); z-index: 1;">
                    <div class="picture">
                        <img src="@url" alt="">
                    </div>
                    <div class="detail">
                        <h3> @item.title</h3>

                    </div>
                </div>
            }

            @if (Model.calist.Count() > 1)
            {
                var item = Model.calist[1];


                string url = "/images/Items/" + @ViewBag.username + "/" + @Model.calist[1].imageAddress;
                string calssname = "swiper-slide swiper-slide-next";



                <div idtogo="@item.categoryID" class="@calssname" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg); z-index: 1;">
                    <div class="picture">
                        <img src="@url" alt="">
                    </div>
                    <div class="detail">
                        <h3> @item.title</h3>

                    </div>
                </div>
            }
            @if (Model.calist.Count() > 2)
            {
                for (int i = 2; i <= Model.calist.Count() - 1; i++)
                {
                    var item = Model.calist[i];



                    string url = "/images/Items/" + @ViewBag.username + "/" + @Model.calist[i].imageAddress;
                    string calssname = "swiper-slide";



                    <div idtogo="@item.categoryID" class="@calssname" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg); z-index: 1;">
                        <div class="picture">
                            <img src="@url" alt="">
                        </div>
                        <div class="detail">
                            <h3> @item.title</h3>

                        </div>
                    </div>
                }

            }


            @*

                switch (index)
                {
                case 0:
                calssname = "";
                break;
                case 1:
                calssname = "";
                break;
                default:
                calssname = "swiper-slide";
                break;


                }




            *@


        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span></div>

        <!-- If we need navigation buttons -->
        <!--     <div class="swiper-button-prev"></div> -->
        <!--     <div class="swiper-button-next"></div> -->
        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
    </div>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-2c7831bb44f98c1391d6a4ffda0e1fd302503391ca806e7fcc7b9b87197aec26.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.2/js/swiper.min.js"></script>
    <script id="rendered-js">
        var swiper = new Swiper(".swiper-container", {
            effect: "coverflow",
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: "auto",
            coverflowEffect: {
                rotate: 20,
                stretch: 0,
                depth: 350,
                modifier: 1,
                slideShadows: true
            },

            pagination: {
                el: ".swiper-pagination"
            }
        });
        //# sourceURL=pen.js
    </script>



    <script>
        $(".swiper-slide").click(function () {
            var id = $(this).attr('idtogo');
            window.location.href = "/Home/Detail/" + id;

        })
    </script>
    <style>
        /* style the elements with CSS */
        #pleaserotate-graphic {
            fill: #fff;
        }

        #pleaserotate-backdrop {
            color: #fff;
            background-color: #000;
        }

        .swiper-pagination {
            display: none;
        }


        .swiper-pagination-bullets {
            display: none;
        }

        .swiper-scrollbar {
            display: none
        }

        .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-left {
            background-image: unset !important
        }

        .swiper-slide {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    </style>

    <script>
        //var PleaseRotateOptions = {
        //    startOnPageLoad: true,
        //    onHide: function () { },
        //    onShow: function () { },
        //    forcePortrait: true,
        //    message: "Please Rotate Your Device",
        //    subMessage: "(or click to continue)",
        //    allowClickBypass: true,
        //    onlyMobile: true,
        //    zIndex: 1000,
        //    iconNode: null
        //};
        /* you can pass in options here */
        PleaseRotateOptions = {
            forcePortrait: false, // if you would prefer to force portrait mode,
            forceLandscape: true
        };
        //PleaseRotate.start(PleaseRotateOptions)
    </script>
    <script src="~/Scripts/pleaseRotate.js"></script>


    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "350px";
            document.getElementById("main").style.marginLeft = "350px";
            document.body.style.backgroundColor = "rgba(0,0,0,0.8)";
            $(".menuOpen").hide();
        }

        /* Set the width of the side navigation to 0 and the left margin of the page content to 0, and the background color of body to white */
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            document.body.style.backgroundColor = "";
            $(".menuOpen").show();

        }
    </script>
    <script>
        $(".fa-plus").click(function () {

            $("#loading").fadeIn()

            var id = $(this).attr('id');
            $.ajax({
                url: "/Home/addtocart",
                data: {
                    id: id,
                },
                success: function (data) {


                    getquntity();
                    $("#loading").fadeOut()
                }
            })
        })

        $('.fa-minus').on('click', function () {
            event.stopPropagation();

            var ID = $(this).attr('id');
            let myid = "value" + ID.replace('minus', '');
            $("#loading").fadeIn()
            var ele = $(this).parent().parent();
            var num = ele.find(".allPrice").text();

            $.ajax({
                url: '/Home/minusfromcart',
                dataType: 'html',
                data: {
                    id: ID
                },
                success: function (data) {

                    if (num == "1") {
                        ele.parent().remove();
                    }
                    //getquntity();
                    //$("#loading").fadeOut()


                },
                error: function () {
                    alert("error")
                }


            });








        });
        var getquntity = function () {
            $.ajax({
                url: '/Home/getquntitiy',
                dataType: 'html',
                success: function (data) {
                    var total = 0;
                    var srtcookie = data;

                    if (srtcookie.length > 0) {
                        srtcookie = srtcookie.replace(/&quot;/g, '"');
                        JSON.parse(srtcookie).forEach(function (item) {


                            let valueID = "value" + item.productid;

                            $("." + valueID).text(item.quantity);


                            total += parseInt(item.quantity);
                        });
                        $(".simpleCart_quantityy").text(total)

                    } else {
                        $(".simpleCart_quantityy").text("0")
                    };
                }

            })
        };

        $(document).ready(function () {
            getquntity();
        })

        $(".confirmbtn").click(function () {
            window.location.href = "/home/basket";
        })
    </script>
    @if (ViewBag.closed == "1")
    {
        <script>
           
            $(".messageDiv").css('visibility', "visible");
        </script>
    }
    @{ 
        if (ViewBag.endorder != null)
        {
            <script>
                toastr.options = {
                    "debug": false,
                    "positionClass": "toast-top-full-width",
                    "onclick": null,
                    "fadeIn": 300,
                    "fadeOut": 1000,
                    "timeOut": 10000,
                    "extendedTimeOut": 10000,
                }
                toastr.success('Your Order Is Registered Successfully');
            </script>
          
        }
    }

</body>

</html>