@model ActiveMenu.ViewModel.itemDetailVM
@{
    ViewBag.Title = "ItemDetail";
    ViewBag.ItemTitle = Model.item.title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/slick.css" rel="stylesheet" />
<link href="~/Content/slick-theme.css" rel="stylesheet" />
<script src="~/Scripts/slick.js"></script>


<div class="iconholder leftP">
    <div class="row countButton " style="left: 50px;">
        <span class="" onclick="openNav()"> <i style="color:white" class="fa fa-long-arrow-left"></i></span>
    </div>
    <div class="row countButton " style="left: 50px;">
        <span class="" onclick="openNav()"><a href="/home/search"><i style="color:white" class="fa fa-search"></i></a></span>
    </div>

</div>
<div class="iconholder rightP">
    <div class="row countButton " style="left: 50px;">
        <span class="" onclick="openNav()"> <a href="/home/index"><i style="color:white" class="fa fa-home"></i></a></span>
    </div>
</div>



<div style="background-color:black;opacity: 0.98; " class="  modal fade" id="ingredientModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content oof" style="color:white;border-radius:8px">

            <div class="textholder">
                <p style="">Ingredients : </p>
                <div id="ingredientModalHolder">

                    @foreach (var item in Model.mavadList)
                    {

                        <div id="@item.ingID" class="inputholder col-lg-3 col-md-4 col-sm-6">
                            <input class="" type="checkbox" checked />
                            <span>@item.title</span>

                        </div>


                    }
                </div>
            </div>

            <div class="textholder">
                <p style="">Your Comment : </p>
                <input id="detaildescadd" class=" countButton" />
            </div>


            <div class="modal-footer" style="border-color:#4d4d4d">
                <button style="padding:7px 30px" type="button" class="btn btn-secondary oof" data-dismiss="modal" id="cancelingre">Cancel</button>
                <button style="padding:7px 30px" type="button" class="btn btn-success" id="addDetailIngre">Verify</button>
            </div>
        </div>
    </div>
</div>


<div style="margin-top :120px ; margin-right:45px ; margin-left:45px">

    <div class="" style="display:flex; align-items:center; margin-top:0px">
        <div style="        width: 20%;
        text-align: center;
        margin: 7%">
            <div class="imageslider">

                @foreach (var item in Model.item.imageList.Trim(',').Split(',').ToList())
                {
                    <img style="border-radius:12px ; max-width:400px" src="~/images/Items/@ViewBag.username/@item" />
                }

            </div>
        </div>
       
        <div style="width:70%">
            <div class="cellparent" style="margin-bottom:15px">
                <div class="cellitem  countButton">
                    <p><span><i class="fa fa-fire"></i></span> Calories</p>
                    <p>@Model.item.calory</p>
                </div>
                <div class="cellitem countButton">
                    <p> <span><i class="fa fa-fire"></i></span>Protein</p>
                    <p>@Model.item.Proteins</p>
                </div>
                <div class="cellitem countButton">
                    <p><span><i class="fa fa-fire"></i></span>Carbs</p>
                    <p>@Model.item.Carbohydrates</p>
                </div>
                <div class="cellitem countButton">
                    <p><span><i class="fa fa-fire"></i></span>Fat</p>
                    <p>@Model.item.Fats</p>
                </div>
            </div>
            <div class="cellparent noborder">
                <div style="display:flex;width: 100%;font-weight:600">

                    <p style="width:100%">@Model.item.desctiption</p>

                </div>



            </div>

            <div class="cellparent noborder">
                <div style="display:flex;width: 100%;font-weight:600">
                    @{
                        string finalstring = "";
                        foreach (var item in Model.mavadList)
                        {
                            finalstring += item.title + " " + "," + " ";

                        }
                        finalstring = finalstring.Trim(' ').Trim(',');
                        <p>@finalstring </p>
                    }


                </div>
            </div>
            <div class="cellparent noborder">
                <div style="display:flex;width: 100%;align-items:center">
                    <div style="width:50%; display:flex">
                        <p> <h3 style="margin: 0 20px 0 0;color: white;">Price :  </h3> <h3 style="margin: 0 20px 0 0;color: white;"> @Model.item.price AED</h3> </p>
                    </div>
                    <div style="width:50%">
                        <p class="countButton" style="direction:ltr; float:right; padding:15px; margin-left:10px "><a href="/home/basket" style="text-decoration:none; color:white"> <i class="fa fa-shopping-basket"></i></a> </p>
                        <p class="countButton" style="direction:ltr; float:right">
                            <i id="@Model.item.itemID" style=" font-size:20px" class="fal fa-minus minusItemFrom"></i>
                            @{
                                string iclass = "value" + Model.item.itemID;

                            }
                            <span class="@iclass allPrice" style="font-size:20px; color:white; margin:0 25px">0</span>
                            <i id="@Model.item.itemID" style="color:orange;font-size:20px" class="fal fa-plus addItemto"></i>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <style>

    
    </style>

    <div class="">
        @if (Model.itemlist != null)
        {
            <div class="row sliderParent">
                <div class="productList">

                    @**@
                    @foreach (var item in Model.itemlist.Where(x => x.itemID != Model.item.itemID))
                    {
                        <div style=" background-color: rgb(42, 43, 43);border-radius: 10px;">

                            <div class="sameParent">
                                <div class="imaghld">
                                    <div class="imgholder">
                                        <a href="/home/itemDetail/@item.itemID">

                                            <img style="width:100px" src="~/images/Items/@ViewBag.username/@item.imageList.Trim(',').Split(',').ToList().First()" />

                                        </a>
                                    </div>

                                </div>
                                <div style=" width:100%; display:flex; padding:5px">
                                    <div class="" style="flex:1">
                                        <p class="ptitle" style="font-weight:600">
                                            @item.title
                                        </p>
                                        <p class="ptitle" st>
                                            Price :   @item.price AED
                                        </p>


                                    </div>
                                    <div class="">
                                        <p class="countButton" style="direction:ltr; float:right;height:40px; ">
                                            <i id="@item.itemID" style=" " class="fal fa-minus minusItemFrom"></i>
                                            @{
                                                iclass = "value" + @item.itemID;

                                            }
                                            <span class="@iclass allPrice" style=" color:white; margin:0 10px">0</span>
                                            <i id="@item.itemID" style="color:orange;" class="fal fa-plus addItemto"></i>
                                        </p>

                                    </div>


                                </div>

                            </div>
                            <div class="contenthld">


                                <div class="cellparent" style="padding:5px">
                                    <div class="cellitem cellitem2  countButton">
                                        <p> Calories</p>
                                        <p>@Model.item.calory</p>
                                    </div>
                                    <div class="cellitem cellitem2 countButton">
                                        <p> Protein</p>
                                        <p>@Model.item.Proteins</p>
                                    </div>
                                    <div class="cellitem cellitem2 countButton">
                                        <p>Carbs</p>
                                        <p>@Model.item.Carbohydrates</p>
                                    </div>
                                    <div class="cellitem cellitem2 countButton">
                                        <p>Fat</p>
                                        <p>@Model.item.Fats</p>
                                    </div>
                                </div>
                            </div>


                        </div>


                    }
                </div>
            </div>

        }
    </div>
</div>
<input type="text" id="pingholder" style="display:none" />





@section scripts{
 
    <script>

        var actiontype = "";
        var itemToadd = "";
        var mealtoadd = "";


        $("#canceling").click(function (e) {

            $("#ingredientModal").modal('toggle')
            actiontype = "";
        })
        $(".addItemto").click(function (e) {
            mealtoadd = $(this).attr('id');
            $("#pingholder").val("");
            $("#ingredientModalHolder").html("");
            $.ajax({
                url: "/Home/getMealMavd",
                data: {
                    id: mealtoadd,

                },
                success: function (data) {
                    $("#ingredientModalHolder").html(data);
                }
            })
            $("#ingredientModal").modal('toggle');
            actiontype = "plus";
        })
        $("#addDetailIngre").click(function () {
            if (actiontype == "plus") {
                var id = mealtoadd;
                var desc = $("#detaildescadd").val();
                $("#ingredientModal").modal('toggle');
                // alert(itemToadd);
                fuplus(id, itemToadd, desc);

            }
        })

        $(".minusItemFrom").click(function () {
            var id = $(this).attr('id');
            fuminus(id);
        })

        var fuplus = function (id, itemToadd, desc) {
            $("#loading").fadeIn()
            var itemToadd = $("#pingholder").val();
            $.ajax({
                url: "/Home/addtocart",
                data: {
                    id: id,
                    desc: desc,
                    addtocart: itemToadd,
                },
                success: function (data) {


                    getquntity();
                    $("#loading").fadeOut()
                }
            })
        }
        var fuminus = function (id) {


            var ID = id
            let myid = "value" + ID.replace('minus', '');

            let newVal = $(this).parent().children(".value").text();
            if (newVal != "0") {
                $("#loading").fadeIn()


                $.ajax({
                    url: '/Home/minusfromcart',
                    dataType: 'html',
                    data: {
                        id: ID
                    },
                    success: function (data) {

                        getquntity();
                        $("#loading").fadeOut()

                    },
                    error: function () {
                        alert("error")
                    }


                });
            }
        }


    </script>
}
<script>
    $('.imageslider').slick({
        arrows: false,
    });
    $('.productList').slick({
        arrows: false,
        slidesToShow: 2,
    });
    $(".fa-long-arrow-left").click(function (e) {
        e.preventDefault();
        window.history.back();
    })
    $(".fa-home").click(function (e) {
        window.location.href = "/home/index";
    })
    $(".fa-search").click(function (e) {
        window.location.href = "/home/search";
    })
</script>

<style>

    .cellitem {
        width: 25%;
        text-align: center;
        /*border-right: 1px solid #4d4d4d;*/
        padding: 10px !important;
        display: block !important;
        margin: 5px
    }

        .cellitem p, .cellparent p {
            color: white
        }

        .cellitem p {
            display: flex;
            font-weight: 600;
            justify-content: center;
            margin: 0;
            padding: 5px;
        }

            .cellitem p span {
                margin-right: 12px;
                font-weight: 600
            }

    .cellitem2 {
        padding: 5px !important;
        width: 50%;
    }

        .cellitem2 p {
            font-size: 11px;
            
        }

    .cellparent {
        display: flex;
        /*border-top: 1px #4d4d4d solid;
                border-bottom: 1px #4d4d4d solid;*/
        padding:px;
    }

    .noborder {
        border: none;
        border: none;
        padding: 10px;
        padding-right:0
    }
    .imaghld {
        /*width: 30%;*/
        margin: 2.5%
    }

        .imaghld img {
            max-width: 100%;
            max-height: 100%;
            object-fit: cover
        }

    .contenthld {
        /*width: 75%;*/
    }

    .ptitle {
        color: white;
        padding: 5px;
        font-size: 14px;
        text-align: left;
        white-space: nowrap
    }

    .contentrow {
        display: flex;
        border-top: 1px solid #4d4d4d;
        border-bottom: 1px solid #4d4d4d;
        padding: 10px;
        direction: ltr
    }

    .contentChild {
        padding: 0 10px;
        border-left: 1px solid #4d4d4d;
        width: 100%;
    }

        .contentChild p {
            color: white;
        }

    .sliderParent {
        margin: 10px 0;
        padding: 5px
    }

    .sameParent {
        /*background: rgb(126,128,126);
            background: linear-gradient(90deg, rgba(126,128,126,1) 0%, rgba(81,83,81,1) 44%, rgba(60,61,61,1) 100%);*/
        border-radius: 10px;
        display: flex !important;
        direction: ltr;
    }

    .itemparent {
        position: absolute;
        overflow: auto;
        width: 100%
    }

        .itemparent::-webkit-scrollbar {
            display: none;
        }

    /* Hide scrollbar for IE, Edge and Firefox */
    .itemparent {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    .description {
        font-size: 17px;
        color: white;
        direction: ltr;
        margin-top: 15px;
        line-height: 2;
        text-align: justify;
    }


    .infoSec {
        position: relative;
        z-index: 9999;
        background-color: #343333;
        padding: 20px;
        border-radius: 32px 32px 0 0;
        width: 100%;
        padding-top: 40px;
        background: rgba(255,255,255,0.05);
        backdrop-filter: blur(10px);
        border-top: 1px solid rgba(255,255,255,0.2);
        border-left: 1px solid rgba(255,255,255,0.2);
        box-shadow: 5px 5px 30px rgb(0 0 0 / 20%);
        margin-top: -40px;
        padding-bottom: 100px
    }

    .blur::before {
        backdrop-filter: blur(2px) contrast(60%);
        -webkit-backdrop-filter: blur(2px) contrast(60%);
        width: contain;
    }

    .blur {
        backdrop-filter: blur(2px) contrast(60%);
        -webkit-backdrop-filter: blur(2px) contrast(60%);
        width: contain;
    }

    .countButton {
        float: left;
        margin: 5px;
        color: white;
        border-radius: 15px;
        background-color: #343333;
        padding: 13px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;
        align-items: center;
        background: rgba(255,255,255,0.05);
        backdrop-filter: blur(10px);
        border-top: 1px solid rgba(255,255,255,0.2);
        border-left: 1px solid rgba(255,255,255,0.2);
        box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
    }

    .iconholder {
        height: 50px;
        position: fixed;
        color: white;
        top: 20px;
        font-size: 20px;
        color: white;
        z-index: 999;
        display: flex;
        align-items: center;
    }

    .leftP {
        left: 28px;
    }

    .rightP {
        right: 28px;
    }

    .inputholder {
        display: inline-block;
        margin: 10px
    }

        .inputholder span {
            color: white
        }

    .textholder {
        margin: 30px 10px;
        display: flex;
        align-items: center
    }

        .textholder p {
            white-space: nowrap;
            color: white;
            margin: 10px
        }

    .buttonHolder {
        margin: 30px 10px;
        display: flex;
        align-items: center
    }

        .buttonHolder div {
            width: 50%;
            margin: 20px
        }
</style>


