@model ActiveMenu.ViewModel.orderDetailPageVM
@{
    ViewBag.Title = "orderDetail";
    Layout = "~/Views/Shared/_managementLayout.cshtml";
}




<main class="main-content">



    
    <style>
        .card-body img {
            max-width: 100%;
            max-height: 100%;
            object-fit: scale-down
        }
    </style>
    <div class="content-inner mt-5 py-0">
        <div class="container-fluid">
            <div class="row">

                <style>
                    .catHead button {
                        margin: 2px;
                        float: right;
                        padding: 5px
                    }
                </style>
                @foreach (var item in @Model.list)
                {
                    string imageItem = item.itemImage.TrimEnd(',').Split(',').ToList().First();
                    string url = "/images/Items/" + @ViewBag.username + "/" + imageItem;
                    string title = item.itemTitle;

                    <div class="col-sm-12 col-lg-4">
                        <div class="card">
                            <div class="card-header d-flex justify-content-between">
                                <div style="display:flex; align-items:center; width:100%">
                                    <div class="header-title" style="width:100% ">
                                        <h5 class="card-title">@item.itemTitle</h5>


                                    </div>
                                </div>




                            </div>
                            <style>
                                .ordercount {
                                    float: right;
                                    margin-right: 25px;
                                    font-size: 25px;
                                    flex: 1;
                                    text-align: right;
                                }

                                .header-title h5 {
                                    white-space: nowrap
                                }
                            </style>
                            <div class="card-header d-flex justify-content-between">
                                <div style="display:flex; align-items:center; width:100%">
                                    <div class="header-title" style="width:100% ;  ">
                                        <h5 style="display:flex; align-items:center" class="card-title"><span>item Count :</span> <span class="ordercount">@item.itemCount</span>  </h5>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body " id="">
                                <img src="@url" class="img-thumbnail" alt="Responsive image">

                            </div>
                        </div>

                    </div>
                }



            </div>
        </div>
    </div>
    @section scripts{
        <script>
            var idtoremove;
            $(".editCategory").click(function () {
                var id = $(this).attr('id');
                window.location.href = "/Management/createItem?item=" + id;
            })

            $(".removeCategory").click(function () {

                var id = $(this).attr('id');
                idtoremove = id;
                $("#confirmDelete").modal('toggle');

            })
            $(".gotomeal").click(function () {
                var id = $(this).attr('id');
                window.location.href = "/Management/meals?id=" + id;
            })
            $("#RemoveCategoryButton").click(function () {
                //alert(idtoremove);
                $.ajax({
                    url: "/Admin/DeleteCategory",
                    data: {
                        id: idtoremove
                    },
                    success: function (data) {
                        window.location.reload();
                    }
                })
            })
            $("#addItemToCat").click(function () {
                window.location.href = "/Management/createItem"
            })
        </script>
    }
</main>


